[submodule "repos/BTH1_Android.git"]
	path = repos/BTH1_Android.git
	url = https://github.com/huyhhoangg/BTH1_Android.git
[submodule "BTH1_Android.git"]
	path = BTH1_Android.git
	url = https://github.com/huyhhoangg/BTH1_Android.git
[submodule "BTH2_Android.git"]
	path = BTH2_Android.git
	url = https://github.com/huyhhoangg/BTH2_Android.git
[submodule "BTH3_Android.git"]
	path = BTH3_Android.git
	url = https://github.com/huyhhoangg/BTH3_Android.git
[submodule "BTH4_Android.git"]
	path = BTH4_Android.git
	url = https://github.com/huyhhoangg/BTH4_Android.git
